/node_modules
/vendor
/.env
/.env.*
!.env.example

/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/.idea
/.vscode

/public/build
/dist
/netlify
/netlify.toml

/storage/*.key
/storage/app/private/*
!/storage/app/private/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php

*.sql
*.sqlite
*.db
*.dump
*.zip
*.rar
*.7z

.DS_Store
resources/.DS_Store
/vite.static.config.js
